@mixin text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
}

@mixin text_2 {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
}

@mixin text_3{
    font-family: 'Rubik';
    font-weight: 700;
}

